# course config files
*.yaml

# gradle
.gradle/
build


# idea config
.idea

# old stages
/Tic-Tac-Toe with AI (Python)/*
!/Tic-Tac-Toe with AI (Python)/task/
/Tic-Tac-Toe with AI (Python)/task/*
!/Tic-Tac-Toe with AI (Python)/task/tictactoe.py
!/Tic-Tac-Toe with AI (Python)/task/ttt_base.py
